@import "tailwindcss";
@import "flowbite";

@theme {
    --color-mainColor: #bebebf;
    --color-fontColor: #556166;
    --color-secFontColor: #211F1F;
    --color-lightFontColor : #959494;
    --color-priceColor: #949292;
    --color-btnColor: #ffe9e3;
}

@utility row {
    @apply flex flex-row;
}

@utility col {
    @apply flex flex-col;
}

@utility dummy-container {
    @apply max-w-7xl mx-auto px-16
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.price-slider input[type="range"] {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 20px;
  transform: translateY(-50%);
  background: transparent !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  pointer-events: none;
  z-index: 10;
}

/* Chrome / Edge / Safari track */
.price-slider input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0 !important;
  background: transparent !important;
  border: none !important;
  appearance: none !important;
  -webkit-appearance: none !important;
}

/* Firefox track */
.price-slider input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0 !important;
  background: transparent !important;
  border: none !important;
}

/* Chrome / Edge / Safari thumb */
.price-slider input[type="range"]::-webkit-slider-thumb {
  appearance: none !important;
  -webkit-appearance: none !important;
  pointer-events: auto;
  width: 12px;
  height: 4px;
  background: black !important;
  border: none !important;
  border-radius: 0 !important;
  cursor: pointer;
  margin-top: -2px;
}

/* Firefox thumb */
.price-slider input[type="range"]::-moz-range-thumb {
  pointer-events: auto;
  width: 12px;
  height: 4px;
  background: black !important;
  border: none !important;
  border-radius: 0 !important;
  cursor: pointer;
}

.price-slider input[type="range"]:focus {
  outline: none;
}